{{template "base" .}}

{{define "title"}}Webinar{{end}}
{{define "scripts" }}
{{end}}
{{define "app-wrapper"}}
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <h1 class="app-page-title">Webinar</h1>
            <hr class="mb-4">
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-4">
                    <h3 class="section-title">Описание</h3>
                    <div class="section-intro">В этом блоке занесится основная инфа по вебинару!</div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <form class="settings-form">
                                <div class="mb-3">
                                    <label for="setting-input-1" class="form-label">Название вебинара</label>
                                    <input type="text" class="form-control" id="name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Ведущий</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Судья</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Максимальное количесво человек</label>
                                    <input type="text"  class="form-control" id="max-people" size="1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-3" class="form-label">Описние</label>
                                    <input type="text" class="form-control" id="description">
                                </div>
                                <div class="mb-3">
                                    <label for="webinar-input-calendar" class="form-label">Дата вебинара</label>
                                    <input type="datetime-local" class="form-control" id="date">
                                </div>
                                <button type="submit" class="btn app-btn-primary" >Сохранить</button>
                                <button type="submit" class="btn btn-warning">Изменить и сохранить</button>
                            </form>
                        </div><!--//app-card-body-->

                    </div><!--//app-card-->
                </div>
            </div>
        </div>
    </div>
{{end}}