{{template "base" .}}

{{define "title"}}Chat{{end}}
{{define "scripts"}}{{end}}

{{define "app-wrapper"}}
    <section id="content">
    <div class="app-chat">
        <div class="chat col-sm-6 pull-right">
        <div class="chat-input">
            <div class="form-group">
            <input class=" d-inline form-control pull-left" name="chat-in">
            <a class="d-inline" href="#"><i class="fa fa-paper-plane " aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    </div>
    </section>

{{end}}