{{template "base" .}}

{{define "title"}}Calendar{{end}}


{{define "scripts"}}{{end}}
    
{{define "app-wrapper"}}

<section id="content">
<div class="app-calendar">
<div class="lk_con">
    <div class="lk bg pull-left"></div>
    <div class="lk bg pull-right"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="menu">
                    <a class="lk_menu_text" href="#">
                        <div class="lk_menu_option">
                            <h5>Личный Кабинет</h5>
                        </div>
                    </a>
            </div>
            </div>
            <div class="col-sm-2">
                <div class="menu">
                    <a class="lk_menu_text" href="#">
                        <div class="lk_menu_option">
                            <h5>Мои Игры</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="menu">
                    <a class="lk_menu_text" href="#">
                        <div class="lk_menu_option">
                            <h5>Изменить данные</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>
</div>
</div>
</section>

{{end}}