{{template "base" .}}

{{define "title"}}Cert{{end}}
{{define "scripts"}}{{end}}

{{define "app-wrapper"}}
<section id="content">
<div class="app-lk">
<div class="lk_con">
    <div class="lk bg pull-left"></div>
    <div class="lk bg pull-right"></div>
        <div class="container">
        <div class="row">
         <div class="col-sm-5">
             <div class="menu">
                <div class="lk_menu_option">
                <h5>Календарь</h5>
                </div>
                <div class="lk_menu_option">
                <h5>Мои игры</h5>
                </div>
                <div class="lk_menu_option">
                <h5>Изменить данные</h5>
                </div>
            </div>
        </div>
            <div class="col-sm-6">
                <span class="photo">

                </span>
                <span class="level">
                    <h5>Уровень: </h5>
                </span>
                <span class="rang">
                    <h5>Ранг: </h5>
                </span>
                <span class="stat">
                    <h5>Статистика:</h5>
                    <p>100/100/100</p>
                </span>
            </div>
        </div>
        </div>
</div>
</div>
</section>
{{end}}