{{template "base" .}}

{{define "title"}}Видео{{end}}


{{define "scripts"}}{{end}}

{{define "app-wrapper"}}

<section id="content">
<div class="app-video">
<div class="items">
<div class="container">
        <div class="row">
<div class="item">
<div class="col-sm-5">
<iframe width="500" height="250" src="https://www.youtube.com/embed/HiH8NHyYyBA" title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-sm-6 pull-right">
<h2>Название</h2>
<p>Описание</p>
<a href="video_details" class="btn btn-primary">Подробнее</a>
</div>
    <div class="line"></div>
</div>


<div class="item">
<div class="col-sm-5">
<iframe width="500" height="250" src="https://www.youtube.com/embed/HiH8NHyYyBA" title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-sm-6 pull-right">
<h2>Название</h2>
<p>Описание</p>
<a href="video_details" class="btn btn-primary">Подробнее</a>
</div>
    <div class="line"></div>
</div>


<div class="item">
<div class="col-sm-5">
<iframe width="500" height="250" src="https://www.youtube.com/embed/HiH8NHyYyBA" title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-sm-6 pull-right">
<h2>Название</h2>
<p>Описание</p>
<a href="video_details" class="btn btn-primary">Подробнее</a>
</div>
    <div class="line"></div>
</div>


<div class="item">
<div class="col-sm-5">
<iframe width="500" height="250" src="https://www.youtube.com/embed/HiH8NHyYyBA" title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-sm-6 pull-right">
<h2>Название</h2>
<p>Описание</p>
<a href="video_details" class="btn btn-primary">Подробнее</a>
</div>
    <div class="line"></div>
</div>


<div class="item">
<div class="col-sm-5">
<iframe width="500" height="250" src="https://www.youtube.com/embed/HiH8NHyYyBA" title="YouTube video player" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-sm-6 pull-right">
<h2>Название</h2>
<p>Описание</p>
<a href="video_details" class="btn btn-primary">Подробнее</a>
</div>
    <div class="line"></div>
</div>
<ul class="pagination">
	<li class="active"><a href="">1</a></li>
	<li><a href="">2</a></li>
	<li><a href="">3</a></li>
	<li><a href="">&raquo;</a></li>
</ul>
    </div>
</div>
</div>
</div>
</section>
{{end}}