{{template "base" .}}

{{define "title"}}Calendar{{end}}
{{define "scripts"}} <script  type="module" src="/static/shared/js/calendar.js"></script> {{end}}
{{define "app-wrapper"}}
    <div id='calendar'>
    <p>Work fine !!!</p>

    </div>
{{end}}