{{template "base" .}}

{{define "title"}}Create{{end}}

{{define "scripts" }}{{end}}


{{define "app-wrapper"}}
<div class ="app-create">
<div class ="header-picture">
<img class ="createimg" src="/static/admin/img/background/background-create-vq.png" alt="create">
</div>
<div class="create-items">
<div class="container">
		<div class="row">
            <div class="col-sm">
            <div class="create--item">
            <h6>TEST</h6>
            
            </div>
             <div class="col-sm">
            <div class="create--item">
            <h6>WEBIAR</h6>
            
            </div>
             <div class="col-sm">
            <div class="create--item">
            <h6>GAME</h6>
            
            </div>
            </div>
        </div>
</div>

</div>
</div>
{{end}}