{{template "base" .}}

{{define "title"}}Главная страница{{end}}


{{define "scripts"}}{{end}}

{{define "app-wrapper"}}

<section id="content">
<div class="hoz-black"></div>
<div class="info_quest">
    <div class="container">
        <div class="row">
            <object data="./static/user/img/logo/logo_light.svg" type="image/svg+xml">
                <img src="./static/user/img/logo/logo_light.png" alt="logo_light" />
            </object>
        <p class='info'>Немного об Интеллектуальных играх</p>
        </div>
    </div>
</div>
<div class="quest_items">
<div class="container">
		<div class="row">
            <a class="arrow left" href="#"></a>
    <div class="col-sm-1">
        <div class="quest_item_header">
              <h5 class="quest_items_name"> 
                  Название игры
              </h5>
        </div>
        <div class="hoz-black"></div>
        <div class="quest_item_description">
          <p>Краткое описание</p>
        </div>
        <div class="quest_item_footer">
        <a class="btn btn-primary">Подробнее</a>
        </div>
    </div>

    <div class="col-sm-1">
        <div class="quest_item_header">
              <h5 class="quest_items_name"> 
                  Название игры
              </h5>
        </div>
        <div class="hoz-black"></div>
        <div class="quest_item_description">
          <p>Краткое описание</p>
        </div>
        <div class="quest_item_footer">
        <a class="btn btn-primary">Подробнее</a>
        </div>
    </div>


    <div class="col-sm-1">
        <div class="quest_item_header">
              <h5 class="quest_items_name"> 
                  Название игры
              </h5>
        </div>
        <div class="hoz-black"></div>
        <div class="quest_item_description">
          <p>Краткое описание</p>
        </div>
        <div class="quest_item_footer">
        <a class="btn btn-primary">Подробнее</a>
        </div>
    </div>
    <a class="arrow right" href="#"></a>
</div>

</div>
</div>
<div class="contact_background">
<div class="winners">
<div class="container">
        <div class="row">
        <h4>Победители прошлого сезона </h4>
      <span>  <h6>Название игры </h6><a href="#" class='trianglee down'></a></span>

        <figure class='first_winner'>
        <img src="https://sun1-98.userapi.com/s/v1/ig2/EZ2xqqXdWDDGAYsxdL8R7va7stIZf-7PaNQkEYcV72UJNsPR4szwHCSdsC-dRVC02tVFZ814bg4w_qx2udSmQS0V.jpg?size=200x0&quality=96&crop=0,0,1440,2160&ava=1" alt="ava">
        <figcaption class='win first'>1 Место <br> Подогова <br> Анастасия </figcaption>    
        </figure>
       
       <div class="second third">
       <span> 
       <figure class='second_winner'>
         <img src="https://sun1-27.userapi.com/s/v1/ig2/LanZpL5eQNXJgGhjLUBzcZ8fGRNitsQbRjW5X8jtxBSsY4x91Cpeoz5fFYMwp9apToUeTcE84akDSoFknqhphSMx.jpg?size=200x0&quality=96&crop=25,399,1584,1584&ava=1" alt="">
         <figcaption class='win second'>2 Место <br>Агибалова <br> Елена</figcaption>
        </figure>
        <figure class='third_winner'>
         <img src="https://sun1-25.userapi.com/s/v1/if1/9jY-i5RCp8EZYqQSb1TtWsEB80jnMni7i8-rNzbl8DxDqaW0LuXvuJT0e-pLr0JbirCcI87Q.jpg?size=200x0&quality=96&crop=124,31,838,838&ava=1" alt="">
         <figcaption class='win third'>3 Место <br> Стич <br> Стич</figcaption>
        </figure>
</span>
        </div
        >
    </div>
</div>
</div>
</div>

<div class="projects_about">
<div class="container">
<div class="row">
<p>Тут должны быть прокручиваемые затемненные картинки
как сверху сайта примера и ссылки на кнопках:
Подробнее о Лекциях и мастер-классах: https://priem.mirea.ru/online

Подробнее об Экскурсиях: https://priem.mirea.ru/mirea-tour

Подробнее о Проекте РТУ МИРЭА "Голос студента": https://priem.mirea.ru/forms/student-voice/

Подробнее об Олимпиадах: https://priem.mirea.ru/olymps</p>
</div>
</div>
</div>

</section>
{{end}}